{% extends 'resources.html' %}
{% load static %}

{% block header %}

    {% block title %}<title>Reception App</title> {% endblock %}
    <!-- Importez vos fichiers scripts/cdn/CSS à l'interieur de ce block!!! -->
{% endblock %}

{% block afterContainer %}
    <!-- Your main code start here , after the <div class="page-inner"> <<resources.html>> -->

    <!-- end here -->
{% endblock %}

{% block footerScript %}
    <!-- Importez vos fichiers scripts/cdn qui doivent être executer après le chargement de la page à l'interieur de ce block!!! -->


{% endblock %}

